<input type="file" accept=".txt" (change)="fileUpload($event)">

<section *ngIf="loadInformation">
  <h2>DEPARTAMENTO</h2>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Código Padre</th>
        <th>Descripción Padre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUbigeo.department">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.id_father}}</td>
        <td>{{item.desc_father}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="loadInformation">
  <h2>PROVINCIA</h2>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Código Padre</th>
        <th>Descripción Padre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUbigeo.province">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.id_father}}</td>
        <td>{{item.desc_father}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="loadInformation">
  <h2>DISTRITO</h2>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Código Padre</th>
        <th>Descripción Padre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUbigeo.district">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.id_father}}</td>
        <td>{{item.desc_father}}</td>
      </tr>
    </tbody>
  </table>
</section>
